@font-face {
    font-family: 'Orbitron-Bold';
    src: url('font/Orbitron-Bold.woff2') format('woff2');
}
body {
    background-color: #181818 !important; /*#222 !important; */
    padding-top: 80px;
}
#messages {
    background-color: red;
    display: none;
    position: fixed;
    top: 10px;
    left: 30px;
    right: 10px;
    width: 90%; /* or any specific width */
    z-index: 1000; /* high value to ensure it's on top */
    padding: 10px; /* optional, for some spacing */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* optional, for a subtle shadow */

}

.navbar {
    background-color: #f7a41e !important; /* <- that zig #b27306 !important;  /* #b27306 #c18004 */
    color: #222;
    font-family: 'Orbitron-Bold', 'Times New Roman';
}
.statusrow, .statustable {
    /*background-color: #222 ;*/
    color: #ff7800;
    font-family: monospace;
}

.tablehead {
    background-color: #ff7800 !important;
    color:  #222 !important;

}
.statustable  {
       border-radius: 15px 15px 0px 0px !important;
       overflow: hidden;

}
.statuscell {
    text-align: center;
}
.rowhead {
    color: #ff7800 !important;
}

.rowhead, .statustable {
    background-color: #222 !important;

}

.statustable {
    color: white !important;
    background-color: #222 !important;

}

.table>:not(caption)>*>*{
    color: unset;
    background-color: unset;
}

.nav-icon.nav-icon-red {
    fill: red;
}