<div class="row statusrow">
    <h1>Status</h1>
    <table class="table statustable">
        <thead>
            <tr class="tablehead">     
                <th scope="col">hostname</th>   
            {{#columns}}
                <th scope="col">{{testname}}</th>
            {{/columns}}
            </tr>
        </thead>
        <tbody>
            {{#responses}}
            <tr>
                <th class="rowhead" scope="row">{{hostname}}</th>
                {{#testresults}}
                <td class="statuscell"><a href="#"><img src="static/img/{{& color}}-recent.gif" alt="{{testname}}" title="{{testname}}" height="22" width="22" border="0"></a></td>
                {{/testresults}}
            </tr>
            {{/responses}}
        </tbody>
    </table>        
</div>
