<div class="row statusrow">
    <h1>Status</h1>
    <table class="table statustable">
        <thead>
            <tr class="tablehead">     
                <th scope="col">hostname</th>   
            {{#columns}}
                <th scope="col">{{testname}}</th>
            {{/columns}}
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="rowhead" scope="row">{{responses.host}}</th>
            {{#responses}}
                <td>{{& color}}</td>
            {{/responses}}
            </tr>
        </tbody>
    </table>        
</div>
