<div class="row statusrow">
    <h1>Status</h1>
    <table class="table statustable">
        <thead>
            <tr class="tablehead">        
                <th scope="col">host</th>
                <th scope="col">test</th>
                <th scope="col">color</th>
            </tr>
        </thead>
        <tbody>
            {{#responses}}
            <tr>
                <th class="rowhead" scope="row">{{responses.host}}</th>
                <td>{{& testname}}</td>
                <td>{{color}}</td>
            </tr>
            {{/responses}}
        </tbody>
    </table>        
</div>
